table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  min-width: 5%;
}

#main-view {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#center-spinner {
  margin: 0 auto;
  margin-top: 45vh;
}

#spinner-wrapper {
  height: 100%;
}

#button-row {
  margin-top: 10px;
}